<main class="container">
    <div class="row">
        <div class="col s12 m6">
            <ol class="collection" id="burgers">
                {{#each burgers}}
                    {{#unless devoured}}
                        <li class="collection-item">
                            {{burger_name}}

                            <div class="input-field inline center">
                                <input type="text" id="eater{{id}}" placeholder="Burger eater">
                                <label>Burger Eater</label>
                            </div>

                            <button class="btn devour red lighten-2 waves-effect waves-red" data-id="{{id}}">
                                Devour It!
                            </button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>

    <div class="row">
        <div class="col s12 m6 offset-m3 center">
            <div class="input-field">
                <input placeholder="Hamburger" id="newBurger" type="text" class="validate">
                <label for="newBurger">Enter a burger you want to eat</label>
            </div>

            <button class="btn red lighten-2 waves-effect waves-red" type="submit" id="burger-order">Submit</button>
        </div>
    </div>
</main>